@{
    ViewBag.Title = "Yhteystiedot";
    ViewBag.Keksinto = "Keksin uuden jutun";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rautilantie 8<br />
    23500 Uusikaupunki<br />
    <abbr title="Phone">P:</abbr>
    040-0883868
</address>
<h5>@ViewBag.Keksinto</h5>
<address>
    <strong>Contact:</strong>   <a href="mailto:sakling@live.com">sakling@live.com</a><br />
</address>